<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wohnder</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
  <link rel="stylesheet" type="text/css" href="tndr.css" />
  <link rel="stylesheet" type="text/css" href="wohnder.css" />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
  <script src="/js/tndr.js"></script>
  <script src="/js/navigation.controller.js"></script>
</head>

<body>
  <section class="section">
    <div class="container max-height">
      <div class="columns">
        <!-- NAVIGATION -->
        <div class="column">
          <div class="navigation">
            <h1>Wohnder</h1>
            <ol>
              <li class="active" id="search">Suchen</li>
              <li id="msg">Matches<!--<div class="badge-notification">
                  <span class="badge-number" id="badge_matches">?</span>
                </div>-->
              </li>

              <li id="flat">Wohnungen <div class="badge-notification">
                  <span class="badge-number" id="badge_flats">?</span>
                </div>
              </li>
              <li id="settings">Einstellungen</li>
            </ol>
            <div class="logout" id="logoutButton">
              <p id="displayname"></p>
               <b>Abmelden</b>
            </div>
          </div>

        </div>
        <!-- CONTENT -->
        <div class="column is-four-fifths">
          <div class="content">

            <!-- Search -->
            <div class="search" id="content_search">
              <h1>Wohnung suchen</h1>
              <div id="tinder">
              </div>

            </div>
            <div class="search hidden" id="content_msg">
              <h1>Matches</h1>
              <div id="match_container">
              </div>
            </div>
            <div class="search hidden" id="content_flat">
              <h1>Aktive Wohnungen</h1>
              <div id="flat_container">
                
              </div>

              <h1>Neue Wohnung erstellen</h1>

              <!-- Anzeigenname -->
              <div class="field">
                <label class="label">Name der Wohnung</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Schönes 20qm Zimmer" id="flt_title">
                </div>
              </div>

              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label">Miete</label>
                    <div class="control">
                      <input class="input" type="number" placeholder="Miete" id="flt_price">
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Quadratmeter Zimmer</label>
                    <div class="control">
                      <input class="input" type="number" placeholder="33 QM" id="rm_size">
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Quadratmeter Wohnung</label>
                    <div class="control">
                      <input class="input" type="number" placeholder="124QM" id="flt_size">
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="field">
                    <label class="label">Mitbewohner</label>
                    <div class="control">
                      <input class="input" type="number" placeholder="3 MB" id="flt_mates">
                    </div>
                  </div>
                </div>
              </div>
              <!-- Infos -->

              <!-- Verfügbar ab -->
              <div class="field">
                <label class="label">Verfügbar:</label>
                <div class="control">
                  <input class="datepicker" type="date" id="flt_date">
                </div>
              </div>

              <!-- Adresse -->
              <div class="field">
                <label class="label">Adresse</label>
                <div class="control">
                  <input class="input" placeholder="Musterstraße 33" id="flt_adress"></input>
                </div>
              </div>

              <!-- Beschreibung -->
              <div class="field">
                <label class="label">Beschreibung</label>
                <div class="control">
                  <textarea class="textarea" placeholder="Textarea" id="flt_desc"></textarea>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox">
                    Nutzungsbedingungen bestätigen</a>
                  </label>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link" id="sendFlat">Abschicken</button>
                </div>
                <div class="control">
                  <button class="button is-link is-light">Cancel</button>
                </div>
              </div>
            </div>
            <div class="search hidden" id="content_settings">
              <h1>Einstellungen</h1>
              <p>Hier können Sie ihre Nutzereinstellungen anpassen.</p>
              <!-- Anzeigenname -->
              <div class="field">
                <label class="label">Full Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Dein Name" id="settings_name">
                </div>
              </div>

              <div class="columns">
                <div class="column">
                  <div class="field">
                    <label class="label">Geschlecht</label>
                    <div class="control">
                      <input class="input" type="text" size=1" placeholder="Dein geschlecht" id="settings_gender">
                    </div>
                  </div>
                </div>

                <div class="column">
                  <div class="field">
                    <label class="label">Alter</label>
                    <div class="control">
                      <input class="input" type="number" placeholder="24" id="settings_age">
                    </div>
                  </div>
                </div>
              </div>

              <!-- Telefon -->
              <div class="field">
                <label class="label">Telefonnummer</label>
                <div class="control">
                  <input class="input" type="text" placeholder="+49 123 123123123" id="settings_number">
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link" id="profileUpdate">Abschicken</button>
                </div>
                <div class="control">
                  <button class="button is-link is-light">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </section>
</body>

</html>